:root {
  --color-red: #f42;
  --color-grey: #aaa;
  --color-figcaption: #f72210;
  --bg-figcaption: #ffffffe6;
  --body-color: #f4f5f6;
}

.bg-red {
  background-color: var(--color-figcaption);
}

.red {
  color: var(--color-figcaption);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.bars-icon {
  color: var(--color-grey);
}

.search-Me {
  width: 60px;
  background-color: inherit;
  border: none;
}

.search-me:active ~ .medium-nav-items,
.search-Me:focus ~ .medium-nav-items {
  display: none;
  width: 100%;
}

.search-Me:active,
.search-Me:focus {
  width: 100%;
  border: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f72210;
}

body {
  font-family: 'Alata', sans-serif;
  margin: 0 auto;
  background-color: var(--body-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top {
  background-color: var(--color-red);
}

#top img {
  object-fit: unset;
}

.card a {
  font-size: 24px;
  line-height: 1px;
}

#top ul li a:hover {
  color: var(--color-figcaption);
}

.title {
  color: var(--color-grey);
  font-weight: bold;
  font-size: 14px;
}

figure figcaption {
  background: var(--bg-figcaption);
  color: var(--color-figcaption);
  bottom: 0;
  left: 0;
}
